<div id="spacer"><button class="buttons" (click)="getSingle()">Get Single Post</button></div>

<div class="scroll-box" style="height:100px !important;">

<table mdbTable striped="true" style="margin-top:-2px; margin-left:-2px;">
  <thead class="black white-text">
 <th scope="col" style="padding-right:9.5px;">userId</th>
 <th scope="col" style="padding-right:10px;">ID</th>
 <th scope="col" style="padding-right:238px;">Title</th>
  <th scope="col" style="padding-right:399px;">Body</th>
  </thead>
  <tbody>
 <tr *ngFor="let x of singlepost">
 <td>{{x.userId}}</td>
<td>{{x.id}}</td>
<td>{{x.title}}</td>
<td>{{x.body}}</td></tr>
  </tbody>
</table>
</div>

